.cover-photo {
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
}

.avatar-wrapper {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.card-body.p-0 {
    padding: 0 !important;
}

.user-info {
    padding: 70px 20px 20px;
}

.mt-4.mt-md-0 {
    margin-top: 1.5rem !important;
    margin-top: 0 !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.rarity-container img {
    max-width: 60px;
    max-height: 60px;
}

.publication, .comment {
    display: flex;
    align-items: center;
    padding: 10px;
}

.publication img, .comment img {
    border-radius: 50%;
}

.publication p, .comment p {
    margin: 0;
}

.publication small, .comment small {
    display: block;
    margin-bottom: 5px;
}

.publication hr, .comment hr {
    margin: 10px 0;
}
